.chose-appartment {
    .filter-option {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: center;
        margin: 0;
        list-style-type: none;
        @media(min-width: 768px) {
            margin: 5rem 0;
        }
        @media(min-width: 1298px) {
            flex-wrap: nowrap;
        }
        li {
            margin: 1.5rem 0.4rem 0px 0.4rem;
            display: inline-flex;
            background: $option_bg;
            align-items: center;
            position: relative;
            width: auto;
            @media(min-width: 768px) {
                margin:1.5rem 2rem 0 0;
            }
            p {
                margin: 0 1rem 0 1rem;
                font-size: 14px;
                @media(min-width: 768px) {
                    margin: 0 4rem 0 1rem;
                    font-size: 16px;
                }
                color: $option_text;
            }
            .button {
                &:hover {
                    cursor: pointer;
                }
            }
            .filter__choose {
                display: none;
                position: absolute;
                top: 50px;
                margin-top: 0rem;
                background: $option_bg;
                width: 100%;
                z-index: 999;
                input {
                    width: 30px;
                    height: 30px;
                    margin: 1rem;
                }
                label {
                    color: $option_text;
                    font-size: 16px;
                    margin: 0 -0.5rem;
                    position: relative;
                    top: -10px;
                }
            }
            .filter__button {
                width: 300px;
                height: 50px;
                color: $white;
                background-color: $filter_btn;
                border: none;
                position: relative;
                overflow: hidden;
                z-index: 100;
                @media(min-width: 360px) {
                    width: 340px;
                }
                &:hover {
                    @include transition(all 0.8s ease);
                    color: $white;
                    cursor: pointer;
                    .layer {
                        top: 0px;
                    }
                }
            }
        }
    }
    .flats-table {
        overflow: hidden;
        width: 100%;
        height: 550px;
        position: relative;
        display: inline-block;
        @media(min-width: 768px) {
            height: 600px;
            width: 100%;
            display: inline-flex;
            justify-content: center;
        }
        .table__btns {
            display: flex;
            justify-content: center;
            margin: 1rem;
            @media(min-width: 768px) {
                display: none;
            }
            .left__table__btn {
                width: 50px;
                height: 50px;
                background: $btns__bg;
                border: none;
                margin-right: 0.5rem;
                .arrow__content {
                    top: 0;
                    right: -6px;
                }
            }
            .right__table__btn {
                width: 50px;
                height: 50px;
                background: $btns__bg;
                border: none;
                margin-left: 0.5rem;
                .arrow__content {
                    top: 0;
                    right: 6px;
                }
            }
        }
        .table-content {
            color: $option_text;
            position: absolute;
            transition: 0.5s;
            thead {
                tr {
                    th {
                        border-top: 1px solid $option_text;
                        border-bottom: 1px solid $option_text;
                        padding: 1rem 2rem;
                        @media(min-width: 1100px) {
                            padding: 1.3rem 2rem 0.6rem 2rem;
                        }
                        p {
                            padding: 10px 0px;
                            @media(min-width: 1100px) {
                                float: left;
                            }
                        }
                        .table__text {
                            padding: 0;
                        }
                        .arrow {
                            margin: auto;
                            width: auto;
                            display: none;
                            @media(min-width: 1100px) {
                                margin-left: 1rem;
                                display: flex;
                                float: right;
                            }
                            .arrow__content {
                                border: 1px solid $option_text;
                                border-width: 3px 3px 0 0;
                                height: 10px;
                                width: 10px;
                                top: 0;
                                margin: 10px -10px 10px 0;
                                display: none;
                                @media(min-width: 768px) {
                                    margin: 10px -10px 10px 0;
                                }
                                @media(min-width: 1100px) {
                                    display: inline-block;
                                }
                            }
                            .sort__up {
                                margin-bottom: 2rem;
                                @media(min-width: 768px) {
                                    margin: -10px -10px 10px 0;
                                }
                                &:hover {
                                    cursor: pointer;
                                    border: 1px solid $btns__bg;
                                    border-width: 3px 3px 0 0;
                                }
                            }
                            .sort__down {
                                &:hover {
                                    cursor: pointer;
                                    border: 1px solid $btns__bg;
                                    border-width: 3px 3px 0 0;
                                }
                            }
                            &:hover {
                                color: $btns__bg;
                                transform: none;
                                .arrow__down {
                                    transform: rotate(135deg);
                                }
                            }
                        }
                    }
                }
            }
            tbody {
                tr {
                    td {
                        font-weight: 400;
                        padding: 0.5rem;
                        text-align: center;
                        @media(min-width: 768px) {
                            padding: 1rem;
                        }
                        sup {
                            font-size: 10px;
                        }
                    }
                    .status {
                        color: $btns__bg;
                        font-weight: 900;
                    }
                    .reservation__status {
                        color: $option_text;
                    }
                    .sold__status {
                        color: $header__color;
                    }
                    &:hover {
                        background: $option_bg;
                    }
                }
            }
        }
    }
    .pagination__buttons {
        display: flex;
        justify-content: center;
        .p__btn {
            color: $white;
            background: $option_bg;
            border: none;
            width: 35px;
            height: 35px;
            margin: 2rem 2rem 5rem 0;
            &:hover {
                background: $btns__bg;
                cursor: pointer;
                @include transition(all 0.5s ease);
            }
        }
        :last-child {
            margin: 2rem 0 5rem 0;
        }
        .p__active {
            background: $btns__bg;
        }
    }
}

.layer {
    color: #fff;
    position: absolute;
    top: -60px;
    width: 100%;
    left: 0;
    padding: 26px 0;
    background-color: $btns__bg;
    @include transition(all 0.3s ease);
    z-index: -1;
}