footer {
    background: url("../images/footer__bg.png") no-repeat top;
    background-size: cover;
    overflow: auto;
    .footer__header {
        .letter {
            width: 75px;
            height: 55px;
            display: inline-block;
            margin: 3rem 1rem 1rem 1rem;
        }
        .header {
            font-size: 24px;
            color: $white;
            display: block;
            font-weight: 500;
            margin: -4.05rem 1rem 0 8rem;
            border-bottom: 2px solid $btns__bg;
            padding-bottom: 0.4rem;
        }
        .footer__logo {
            .logo {
                max-width: 100%;
                height: auto;
                margin: 3rem 0 2rem 1rem;
            }
            p {
                color: $white;
                font-size: 15px;
                margin: 0 4rem 0 1rem;
                margin-bottom: 2rem;
                @media(min-width: 768px) {
                    margin-bottom: 0;
                }
            }
            .desktop__desc {
                display: none;
                @media(min-width: 768px) {
                    display: inline-block;
                }
            }
        }
    }
    .footer__info {
        color: $white;
        @media(min-width: 768px) {
            margin: 15rem 0 0 0;
        }
        p {
            padding-bottom: 0.2rem;
            margin-left: 1rem;
            font-size: 15px;
        }
        .company__adress {
            margin-bottom: 2rem;
        }
        .company__mail {
            margin-bottom: 2rem;
        }
    }
    .footer__form {
        form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 4rem 0.5rem 1rem 0.5rem;
            border: none;
            @media(min-width: 768px) {
                align-items: flex-end;
                margin: 7rem 0.5rem 5rem 0.5rem;
            }
            input,
            textarea {
                width: 95%;
                height: 35px;
                margin-bottom: 1.5rem;
                @media(min-width: 768px) {
                    width: 70%;
                }
            }
            input::placeholder,
            textarea::placeholder {
                padding-left: 1rem;
                font-size: 16px;
                font-weight: 400;
            }
            textarea::placeholder {
                padding-top: 0.5rem;
            }
            textarea {
                height: 100px;
                @media(min-width: 768px) {
                    height: 225px;
                }
            }
            .code__test {
                display: flex;
                flex-direction: row;
                width: 95%;
                @media(min-width: 768px) {
                    width: 70%;
                }
                .code {
                    background: white;
                    height: 35px;
                    display: flex;
                    align-items: center;
                    width: 47.5%;
                    justify-content: center;
                    margin: 0 1.2rem 1.5rem 0;
                }
                .form__code__validation {
                    width: 47.5%;
                    order: 2;
                    margin-left: auto;
                }
            }
            .form__submit__btn {
                width: 95%;
                height: 35px;
                color: $white;
                background: $filter_btn;
                border: none;
                position: relative;
                overflow: hidden;
                z-index: 100;
                @media(min-width: 768px) {
                    width: 70%;
                }
                .layer {
                    top: -40px;
                    padding: 20px 0;
                }
                &:hover {
                    @include transition(all 0.8s ease);
                    color: $white;
                    cursor: pointer;
                    .layer {
                        top: 0px;
                    }
                }
            }
        }
        .show__form {
            height: 35px;
            width: 91.5%;
            background: $btns__bg;
            display: flex;
            border: none;
            color: $white;
            align-items: center;
            margin: 1.5rem auto 5rem auto;
            padding-left: 1rem;
            @media(min-width: 540px) {
               width: 93%;
            }
            @media(min-width: 768px) {
                display: none;
            }
            .arrow {
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                order: 2;
                margin-left: auto;
                height: 15px;
                width: 30px;
                padding-top: 1.1rem;
                .arrow__content {
                    top: 6px;
                    height: 15px;
                    width: 15px;
                }
            }
        }
    }
}