header {
    height: 80px;
    background: $header__color;
    .menu {
        display: none;
        @media(min-width: 768px) {
            display: flex;
            list-style-type: none;
            justify-content: flex-end;
            align-items: center;
            height: 80px;
        }
        li {
            margin-right: 2.8rem;
            font-size: 12.5px;
            font-family: "Lato";
            color: $white;
            &:hover {
                color: $btns__bg;
                cursor: pointer;
                transition: 0.4s;
            }
        }
    }
    .is-active {
        display: block;
    }
    .show-hide-menu {
        position: absolute;
        background-color: $btns__bg;
        width: 100vw;
        text-align: center;
        flex-direction: column; 
        top: 80px;
        z-index: 999;
        li {
            display: block;
            padding: 1em 0;
            margin-right: 0;
            font-size: 18px;
            font-weight: bold;
            color: $white;
        }
    }
    .menu__button {
        float: right;
        margin: 1rem;
        @media(min-width: 768px) {
            display: none;
        }
    }
}

//  btns__bg__arrow
.button {
    width: 50px;
    height: 50px;
    background: $btns__bg;
}

.arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 50px;
    width: 50px;
    margin: 0 20px 20px 0; // border: 1px solid rgba(0, 0, 0, 0.25);
    .arrow__content {
        height: 25px;
        width: 25px;
        border: 1px solid white;
        border-width: 3px 3px 0 0;
        position: relative;
        top: -5px;
        right: 0px;
    }
    .arrow__up {
        transform: rotate(315deg);
    }
    .arrow__left {
        transform: rotate(225deg);
    }
    .arrow__right {
        transform: rotate(45deg);
    }
    .arrow__down {
        transform: rotate(135deg);
    }
    &:hover {
        .arrow__down {
            transform: rotateZ(315deg);
            @include transition(all 0.3s ease);
            top: 6px;
        }
    }
}